* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    background-image: url(../assets/pagina/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
  }
  
  
/*DESCRIPCION*/

.description{
    padding: 100px 15px;
}


.container__description{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}


.description__text{
    width: 30%;
}
main .navegacion{
    margin-top: 45px;
}
main .navegacion a{
    text-decoration: none;
    color: #2fc1ee;
  
}
.description__title{
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}article

.description__copy{
    text-align: justify;
}
.description__img{
    width: 300px;
    height: 300px;
}

.description__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description__order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

.order__price{
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #7777;

}
.title__price{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.description__size{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #7777;
    margin-bottom: 40px;

}

.container__size{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.size__title{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.card__size{
    width: 2rem;
    height: 2rem;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    background: #2fc1ee;
    color: #fff;
    cursor: pointer;
    box-shadow:  0 0 2px 2px rgba(0, 0, 0, .8);
    transition: transform .6s;
}

.card__size:hover{
    transform: scale(1.3);
}

.card__size .size{
    font-size: 18px;
    text-transform: uppercase;
}

.order__color{
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #7777;
}

.color__title{
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contianer__color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.contianer__color .buttom{
    width: 2rem;
    height: 2rem;
    margin-right: 20px;
    cursor: pointer;
    border: none;
    background: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .8);
    transition: transform .6s;
}

.contianer__color .buttom:hover{
    transform: scale(1.3);
}

.contianer__color .bnt__c1{
    background: #f00000;
}
.contianer__color .bnt__c2{
    background: #000;
}
.contianer__color .bnt__c3{
    background: #fff;
}

.bnt__cta{
    width: 100%;
    text-align: center;
    padding: 15px 30px;
    background: #25D366;
    transition: transform .6s;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: transform .6s;
    border-radius: 10px;
 
}

.bnt__cta:hover{
    transform: scale(1.2);
}


.btn-whatsapp {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #00e676;
  opacity: 0;
  animation: onda 1.7s infinite;
}

.btn-whatsapp:before {
  animation-delay: 1s;
}

.btn-whatsapp:after {
  animation-delay: 1.3s;
}

.btn-whatsapp img {
  position: relative;
  z-index: 2;
}

@keyframes onda {
  0% {
    transform: scale(1);
  }

  15% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}