* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    background-image: url(../assets/pagina/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
  }

/*HOME*/
.home{
    padding: 100px 15px;
}
.barra{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    display: flex;
    text-align: end;
    justify-content: center;
    background-color: #f1c098;
}
.navegacion{
    margin-top: 20px;
}
.navegacion a{
    text-decoration: none;
    color: #2fc1ee;
  
}
.container__home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.home__img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    cursor: pointer;
   
}

.home__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


.home__hover{
    position: absolute;
    top: 0;
    width: inherit;
    height: 100%;
    background: #f0000080;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition:  transform .6s;
}

.home__title{
    color: #fff;
    text-transform: uppercase;
}

.home__img:hover .home__hover{
    transform: scale(1);
}



/*CATEGORIAS*/

.category{
    padding: 100px  15px;
}

.container__category{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.card__category{
    width: 280px;
    height: 280px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .9);
}

.card__img{
    display: block;
    margin: auto;
    width: 280px;
    height: 280px;

}

.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-whatsapp {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
  }
  
  .btn-whatsapp:before,
  .btn-whatsapp:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #00e676;
    opacity: 0;
    animation: onda 1.7s infinite;
  }
  
  .btn-whatsapp:before {
    animation-delay: 1s;
  }
  
  .btn-whatsapp:after {
    animation-delay: 1.3s;
  }
  
  .btn-whatsapp img {
    position: relative;
    z-index: 2;
  }
  
  @keyframes onda {
    0% {
      transform: scale(1);
    }
  
    15% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }




