/*HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.menu {
  font-family: 'Poppins', sans-serif;
  background-color: #edeff1;
  height: 150px;
}

.menu__container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.fa-solid {
  color: #000;
  padding: 5px;

}

.menu__links {
  height: 100%;
  transition: transform .5s;
  display: flex;
  z-index: 2;

}

.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
  z-index: -2;
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link {
  color: #2fc1ee;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: bold;

}

.fa-brands {
  color: #00e676;
  padding: 5px;
  width: 10px;
}

.product__link {
  text-decoration: none;
}
.header__input__container {
  display: flex;
  justify-content: center;
 
}

.header__input  {
   position: relative;
  display: inline-block;
}

.header__input  input[type="text"] {
  width: 400px;
  padding: 10px;
  padding-right: 40px; 
  border-radius: 30px;
  outline: none;
  border: 1px solid #ccc;
}

.header__input  button[type="submit"] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__input  button[type="submit"] i {
  font-size: 16px;
}

.header__input input:hover {
  box-shadow: 0 0 2px 1px #ccc;
}

.menu__arrow {
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;
}

.menu__nesting {
  list-style: none;
  transition: clip-path .3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: #f8f5f5;
}

.menu__link--inside {
  padding: 30px 100px 30px 20px;
}



.menu__hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menu__img {
  display: block;
  width: 36px;
}

@media screen and (max-width:1200px) {
  .menu__link {
    color: #2fc1ee;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 50%;
    align-items: center;
    font-weight: bold;


  }

  .menu__links {
    height: 80%;
    transition: transform .5s;
    display: flex;


  }

}

@media screen and (max-width:800px) {
  .header__input__container {

    margin-top: -60px;
    
  }
  .header__input input[type="text"] {
    width: 100%;
  }
  .menu__hamburguer {
    display: flex;
    margin-top: -40px;

  }

  .menu__item {
    --clip: 0;
    overflow: hidden;
  }

  .menu__item--active {
    --transform: rotate(0);
    --background: #5e7094;
  }

  .menu__item--show {
    background-color: var(--background);
  }


  .menu__links {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #ffff;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
    z-index: 2;
  }

  .menu__links--show {
    transform: unset;
    width: 100%;
  }

  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }


  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }

  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height .3s;
  }

  .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
}
@media screen and (max-width: 600px) {
  .search-container input[type="text"] {
    width: 100%;
    border-radius: 5px;
  }
  
  .search-container button[type="submit"] {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
}
@media screen and (max-width:320px) {
  .header__input {
    position: relative;
  }

  .header__input input {
    padding: 5px 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
    position: relative;
  }
}