* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


body {
    background-image: url('../assets/pagina/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    margin-top: -100px;
    position: absolute;
  }

  
header {
    width: 100%;
    z-index: 999;
    margin-top: 50px;
    position: fixed;
  }


select {
    margin-top: 500px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para las opciones del select */
  select option {
    font-size: 14px;
  }
  
  /* Estilos para el botón de enviar */
  input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0;
    display: flex;
  }
  
  /* Estilos para la etiqueta del select */
  label {
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Estilos para el contenedor del formulario */
  form {
    margin-bottom: 16px;
  }
  

.products__title {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #3f3c3c;
    background: #ededed;
    width: 400px;
    margin: 0px auto;
    margin-bottom: 80px;
    margin-top: 320px;
    position: relative;
}

.container__products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 190px;
}


.products__select {

    margin: -20px 0 -50px auto;
    height: auto;
    overflow: hidden;
    width: 230px;
    position: relative;
}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: -300px;
}

main select:focus {
    outline: none;
}

.products__select::after {
    content: "\025be";
    display: table-cell;
    padding-top: 7px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #eef4f8;
    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none;
}


.card {
    width: 400px;
    height: 400px;
    background: #ededed;
    box-shadow: 10px 0px 8px 2px rgba(0, 0, 0, .9);
    margin: 20px 20px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.card__img {
    width: 300px;
    height: 300px;
    display: inline-block;
    padding-top: 40px;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__hover {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000;
    width: 100%;
    background: #015aff40;
    text-align: center;
    transform: translateY(100px);
    transition: all .6s;
}

.card__title {
    text-transform: uppercase;
    padding: 4px 0;
    color: #777777;
}

.card__link {
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;
    color: #777777;
    text-transform: capitalize;
    font-size: 18px;
}


.card__link:hover {
    color: #000;
}

.card__paragraph {
    font-size: 18px;
    color: #777777;
}

.card:hover .card__hover {
    transform: translateY(0);
}
@media screen  and (max-width:1000px) {
    body{
        width: 100%;
        height: auto;
    }
    .products__title {
        font-size: 35px;
        width: 250px;
        margin: 0px auto;
        margin-bottom: 30px;
        margin-top: 300px;
        justify-content: center;
        align-self: center;
    } 
    .container__products {
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
  
    .card {
        width: 300px;
        height: 300px;
         
    }
}