* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url(../assets/pagina/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
}

/*HEADER*/

.container__header {
  width: 100%;
  height: 140px;
  border-bottom: 2px solid #eb6b02;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  position: fixed;
  background-color: white;
  z-index: 1;

}

.header__img {
  padding-top: 20px;
  padding-left: 20px;
  margin-right: 40px;
}

.header__category i {
  cursor: pointer;
  font-size: 20px;
}

header .header__category {
  position: absolute;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding-top: 80px;
  margin-left: 280px;

}

header .header__category .nav ul {
  list-style: none;
}

.header__category .nav__item {
  position: relative;
}

.header__category .nav__item li:hover .subitem {
  visibility: visible;
  opacity: 1;
}

header .header__category .subitem {
  position: absolute;
  width: 1100px;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  background: #00c3ff;
  text-align: center;
  border-radius: 8px;
  display: flex;
  margin-top: 10px;
}

.header__category .subitem li a {
  width: 100%;
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}

header .header__category .subitem li a:hover {
  color: #000;
}

.header__category .category__copy {
  margin-left: 10px;
  text-transform: uppercase;
  color: #2fc1ee;
  font-size: 20px;
  font-weight: 700;
}

.header__input {
  padding-top: 80px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 800px;

}

header .header__input input {
  padding: 12px 180px;
  border-radius: 30px;
  border: none;
  outline: none;
  border: 1px solid #ccc;
}

header .header__input input:hover {
  box-shadow: 0 0 2px 1px #ccc;
}

header .header__input i {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}

header .header__product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-right: 40px;
}

header .header__product .product__link {
  display: flex;
  text-decoration: none;
  color: #000;
}

header .header__product .product__link i {
  font-size: 20px;
  cursor: pointer;
}

.header__product .product__link:hover {
  transform: scale(1.1);
}

.header__product .product__copy {
  margin-left: 10px;
  text-transform: uppercase;
  color: #2fc1ee;
}

.header__service {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__service .service__copy {
  margin-left: 40px;
  text-transform: capitalize;
}

header .header__service i {
  margin-left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #3cb371;
  margin-right: 20px;
}

header .header__service i:hover {
  transform: scale(1.2);
}

header .header__service .service__paragraph {
  border-left: 2px solid #2fc1ee;
  padding-left: 10px;
}


/*HOME*/

main .home {
  padding: 100px 15px;

}

main .container__home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
}

main .home__img {
  width: 400px;
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

main .home__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main .home__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0098f040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
  transform: translateY(300px);
  transition: transform 0.6s;
  text-align: center;
}

main .home__hover a {
  display: block;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
}

main .home__hover a:hover {
  color: #e30f0f;
}

main .home__img:hover .home__hover {
  transform: translateY(0);
}

main .home__inside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}

main .inside__img {
  width: 100px;
  height: 100px;
  margin-left: 80px;
  margin-right: 60px;
}

main .inside__img img {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  object-fit: cover;
  border-radius: 50%;
}

main .animals__copy {
  text-align: center;
  margin: 50px 0;
}

main .animals__copy h3 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  background-image: linear-gradient(to right, #ff0084, #33001b);
  -webkit-text-fill-color: transparent;
}

main .main__titulo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

main .main__titulo h1 {
  font-size: 2em;
  font: bold 4.5vw/1.6 'Signika', sans-serif;
  user-select: none;

}

h1 span {
  display: inline-block;
  animation: float .2s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: none;
  }

  33% {
    transform: translateY(-1px) rotate(-2deg);
  }

  66% {
    transform: translateY(1px) rotate(2deg);
  }
}

body:hover span {
  animation: bounce .6s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translate(0);
  }

  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }

  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

span:nth-child(4n) {
  color: hsl(50, 75%, 55%);
  text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}

span:nth-child(4n-1) {
  color: hsl(195, 35%, 55%);
  text-shadow: 1px 1px hsl(195, 35%, 55%), 2px 2px hsl(195, 35%, 55%), 3px 3px hsl(195, 35%, 55%), 4px 4px hsl(195, 35%, 55%);
}

span:nth-child(4n-2) {
  color: hsl(120, 0%, 47%);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}

span:nth-child(4n-3) {
  color: hsl(30, 65%, 60%);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

h1 span:nth-child(2) {
  animation-delay: .05s;
}

h1 span:nth-child(3) {
  animation-delay: .1s;
}

h1 span:nth-child(4) {
  animation-delay: .15s;
}

h1 span:nth-child(5) {
  animation-delay: .2s;
}

h1 span:nth-child(6) {
  animation-delay: .25s;
}

h1 span:nth-child(7) {
  animation-delay: .3s;
}

h1 span:nth-child(8) {
  animation-delay: .35s;
}

h1 span:nth-child(9) {
  animation-delay: .4s;
}

h1 span:nth-child(10) {
  animation-delay: .45s;
}

h1 span:nth-child(11) {
  animation-delay: .5s;
}

h1 span:nth-child(12) {
  animation-delay: .55s;
}

h1 span:nth-child(13) {
  animation-delay: .6s;
}

h1 span:nth-child(14) {
  animation-delay: .65s;
}

/*PRODUCTOS */

.product {
  padding: 100px 15px;
  margin-top: -80px;

}

.container__product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -50px;
  /* padding: 0 40px; */
}

.product__img {
  width: 250px;
  height: 250px;
}

.product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn-whatsapp {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00e676;
  opacity: 0;
  animation: onda 1.7s infinite;
}

.btn-whatsapp:before {
  animation-delay: 1s;
}

.btn-whatsapp:after {
  animation-delay: 1.3s;
}

.btn-whatsapp img {
  position: relative;
  z-index: 2;
}

@keyframes onda {
  0% {
    transform: scale(1);
  }

  15% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

footer .container__footer {
  width: 100%;
  height: auto;
  background-image: linear-gradient(#0000008c 0%, #0000001c 100%),
    url("../assets/perro/producto1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 80px 40px;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 120px;
}

footer .footer__figure {
  width: 150px;
  height: 150px;
}

footer .footer__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

footer .footer__services {
  margin-left: 40px;
  text-align: center;
}

footer .services__title {
  text-transform: uppercase;
  padding-bottom: 10px;
}

footer .services__link {
  text-decoration: none;
  color: #fff;
}

footer .services__paragraph {
  font-size: 22px;
}

footer .footer__description {
  width: 40%;
  text-align: center;
}

footer .description__title {
  text-transform: uppercase;
  padding-bottom: 20px;
}

footer .description__copy {
  text-align: justify;
  font-size: 18px;
}

footer .footer__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  padding: 20px 40px;
}

footer .footer__img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer__img img {
  width: 50px;
  height: 50px;

}

footer .footer__img a {
  color: #fff;
  text-decoration: none;
}

footer .footer__img a {
  padding: 0 20px;
  font-size: 20px;
  transition: all 0.6s;
}

footer .footer__img .a1:hover {
  color: #2fc1ee;
  transform: scale(1.2);
}

footer .footer__img .a2:hover {
  color: red;
  transform: scale(1.2);
}

footer .footer__img .a3:hover {
  color: blueviolet;
  transform: scale(1.2);
}

footer .text__paragraph {
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

footer .cta {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  transition: all 0.6s;
  text-shadow: rgba(0, 0, 0, 0.5);
}

footer .cta:hover {
  color: #ccc;
  transform: scale(1.2);
}

footer .text__copy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.btn-whatsapp {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #00e676;
  opacity: 0;
  animation: onda 1.7s infinite;
}

.btn-whatsapp:before {
  animation-delay: 1s;
}

.btn-whatsapp:after {
  animation-delay: 1.3s;
}

.btn-whatsapp img {
  position: relative;
  z-index: 2;
}

@keyframes onda {
  0% {
    transform: scale(1);
  }

  15% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@media screen and (max-width:1000px) {
  .container__header {
    display: flex;
    background-color: #eb6b02;
    position: relative;
  }

  .header img {
    width: 130px;
    height: 130px;
  }

  .header__category {
    margin-left: -395px;
    margin-top: -60px;

  }

  .nav__item .subitem {
    width: 200px;
    height: auto;
    display: block;
    align-items: baseline;
    background-color: whitesmoke;
    margin-top: 50px;

  }

  .header__category .subitem li a {
    width: 100%;
    padding: 7px 20px;
    color: blue;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .header__product {
    margin-top: -60px;
  }

  .header__input {
    margin-right: 60%;
    margin-left: 20%;
    margin-top: 90px;
    padding: 8px 45px;
    border-radius: 30px;
    border: none;
    outline: none;
    justify-content: center;
    display: flex;
  }

  .header__input input {
    padding: 6px 90px;
    border-radius: 30px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
  }

  .header__input i {
    position: absolute;
    right: 90px;
    bottom: 15px;
    cursor: pointer;
    font-size: 18px;
  }

  .home {
    margin-top: -120px;
  }

  .container__home {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .home__img {
    padding: 10px;

  }

  .main__titulo {
    width: 80PX;
    height: auto;

  }

  .main__titulo h1 {
    font-size: 4em;
    font: bold 4.5vw/1.6 'Signika', sans-serif;
    user-select: none;

  }

  .container__product {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .product__img {
    padding: 10px;
  }

  .container__footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#0000008c 0%, #0000001c 100%),
      url("../assets/perro/producto1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;


  }

  .footer__services .services__title {
    width: 500px;
    height: auto;
    font-size: 30px;
    color: #00c3ff;

  }

  .footer__figure {
    margin-top: 10px;
    justify-content: float;

  }

  .footer__description {
    font-size: 10PX;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .description__title{
    width: 300px;
    font-size: 31px;
    display: inline-block;
   color: #00c3ff;
   margin-top: 20px;
  }

.description__copy {
  max-width: 1000px;
  width: 300px;
  display: flex;
  justify-content: center;

}

.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer__img {
  width: 10px;
  height: 10px;
  margin-bottom: 30px;
}

.text__copy {
  font-size: 10px;
  color: #000;
}
}

@media screen and (max-width:320px) {

  .container__header {
    display: flex;
    background-color: #e9e4e0;
    position: relative;
    font-size: 10px;
  }

  .container__header img {
    width: 80px;
    height: 80px;
  }

  .header__category {
    display: flex;

  }

  .header__category i {
    cursor: pointer;
    font-size: 13px;
  }

  .header__category .category__copy {
    margin-left: 5px;
    text-transform: uppercase;
    color: #2fc1ee;
    font-size: 13px;
    font-weight: 700;
  }

  .nav__item .subitem {
    width: 150px;
    height: auto;
    display: block;
    align-items: baseline;
    background-color: whitesmoke;
    margin-top: 50px;

  }

  .header__category .subitem li a {
    width: 100%;
    padding: 7px 20px;
    color: blue;
    text-decoration: none;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .header__product {
    margin-top: -60px;
    font-size: 12px;
  }

  .header__product .product__link i {
    font-size: 12px;
    cursor: pointer;
  }

  .header__input {
    margin-right: 70%;
    margin-left: 8%;
    margin-top: 90px;
    padding: 5px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    justify-content: center;
    display: flex;

  }

  .header__input input {
    padding: 3px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    margin-left: 15px;
    font-size: 7px;
  }

  .header__input i {
    position: absolute;
    right: 50px;
    bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    margin-left: 15px;

  }
}