*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container__header{
    width: 100%;
    height: 140px;
    background-image: url("../assets/perro/producto1.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fff;
}

.header__img{   
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 40px;
}

.header__category i{
    cursor: pointer;
    font-size: 20px;
}

.header__category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    margin-left: -100px;
}

.header__category .nav ul{
    list-style: none;
    cursor: pointer;
}

.header__category .nav__item{
    position: relative;   
}

.header__category .nav__item li:hover .subitem{
    visibility: visible;
    opacity: 1;
}

.header__category .subitem{
    position: absolute;
    width: 1040px;
    left: -20px;
    visibility: hidden;
    opacity: 0;
    transition: all .6s ease-in-out;
    background: #00c3ff;
    text-align: center;
    border-radius: 8px;
    display: flex;
    margin-top: 20px;
}

.header__category .subitem li a{
    width: 100%;
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.header__category .subitem li a:hover{
    color: #000;
} 


.header__category .category__copy{
    margin-left: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 0 8px rgba(0, 0, 0, .9);
}

.header__input{
    padding-top: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__input input{
    padding: 12px 180px;
    border-radius: 30px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
}

.header__input input:hover{
    box-shadow: 0 0 2px 1px #ccc;
}

.header__input i{
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

.header__product{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px ;
    padding-right: 80px;

}

.header__product .product__link{
    display: flex;
    text-decoration: none;
    color: #000;
}

.header__product .product__link i{
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.header__product .product__link:hover{
    transform: scale(1.1); 
}


.header__product .product__copy{
    margin-left: 10px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, .8);
}

.header__service{
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.header__service .service__copy{
    margin-left: 40px;
    text-transform: capitalize;
}

.header__service i{
    margin-left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #3CB371;
    margin-right: 20px;
}

.header__service i:hover{
    transform: scale(1.2);
}

.header__service .service__paragraph{
    border-left: 2px solid #2fc1ee;
    padding-left: 10px;
    text-transform: capitalize;
}

.container__footer{
    width: 100%;
    background-image:linear-gradient(#0000008c 0%, #0000001c 100%), url('../assets/producto1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 80px 40px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, .5);
    padding-bottom: 120px;
}

.footer__logo img{
    width: 150px;
}


.footer__figure{
    width: 150px;
    height: 150px;
}

.footer__figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.footer__services{
    margin-left: 40px;
    text-align: center;
}

.services__title{
    text-transform: uppercase;
    padding-bottom: 10px;
}

.services__link{
    text-decoration: none;
    color: #fff;
}

.services__paragraph{
    font-size: 22px;
}


.footer__description{
    width: 40%;
    text-align: center;
}

.description__title{
    text-transform: uppercase;
    padding-bottom: 20px;
}

.description__copy{
    text-align: justify;
    font-size: 18px;
}

.footer__text{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    padding: 20px 40px;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__icons a{
    color: #fff;
    text-decoration: none;
}

.footer__icons a i{
    padding: 0 20px;
    font-size: 20px;
    transition: all .6s;
}

.footer__icons .i1:hover{
    color: #2fc1ee;
    transform: scale(1.2);
}
.footer__icons .i2:hover{
    color: red;
    transform: scale(1.2);
}
.footer__icons .i3:hover{
    color: blueviolet;
    transform: scale(1.2);
}

.text__paragraph{
    text-transform: uppercase;
    text-shadow: 0 0 4px  rgba(0, 0, 0, 0.5);
    text-align: center;
}

.cta{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    transition: all .6s;
    text-shadow: rgba(0, 0, 0, .5);
}

.cta:hover{
    color: #ccc;
    transform: scale(1.2);
}